<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AddressBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" media="screen" runat="server" asp-append-version="true"/>
</head>
<body>
    <header>
        <h1 class="main-heading">AddressBook</h1>
        <nav class="navigation">
            <ul class="navigation-list">
                <li><a class="top-nav-button home-key" asp-controller="Contact" asp-action="Index">HOME</a></li>
                <li>
                    <a class="top-nav-button add-contact-button" asp-area="" asp-controller="Contact" asp-action="Add">+ADD</a>
                </li>
                <li class="navigation-icon"><img src="~/images/blog-icon.png" alt="icon" /></li>
            </ul>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
